.u-pointer {
  cursor: pointer;
}

.u-float-right {
  float: right;
}

.u-noScroll {
  overflow: auto;
  -ms-overflow-style: none;
}

.u-noScroll::-webkit-scrollbar {
  display: none;
}

.u-hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #660066;
    border: 1px solid white;
    cursor: pointer;

    .light & {
      border: 1px solid black;
      background-color: pink;
    }
  }
}

.u-border {
  border: 1px solid white;
  border-radius: 5px;

  .light & {
    border: 1px solid black;
  }
}

.u-inline-block {
  display: inline-block;
}

.u-flex-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.u-flex-stretch {
  display: flex;
  align-items: stretch;
}

.u-flex-grow {
  flex-grow: 1;
  max-width: 100%;
}

.u-break-word {
  word-break: break-all;
}

.u-bold {
  font-weight: bold;
}

.u-text-link {
  text-decoration: underline;
  cursor: pointer;
}

.u-text-small {
  font-size: 0.75rem;
}

.u-standard-width {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.u-hidden-mobile {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.u-hidden-tablet {
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.u-float-container:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

.u-mr-small {
  margin-right: 5px;
}

.u-fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.u-pad {
  padding: 15px 30px;
}